[2014-10-10 09:23] totty90 opened #1 "Is worth to use sockets?"
I've seen the progressive load, but is fast anyway. Isn't sockets an overkill?

[2014-10-11 15:44] #1 closed, assigned to nobody

[2014-10-21 21:03] KyleAMathews opened #3 "Use react-spinkit"
I made this nice module you could use :)

https://github.com/KyleAMathews/react-spinkit

[2014-10-23 22:20] #3 closed, assigned to nobody

[2016-01-07 09:44] russjr08 opened #17 "Comments page should not scroll when receiving new comments"
I do like that new comments are retrieved automatically, but it is very annoying that it scrolls the page when a new comment is received.

[2016-01-07 10:43] insin commented on #17
It's even worse when user voting changes the comment order.

This is currently a really dumb implementation which just renders exactly what the Firebase API spits out rather than attempting to manage the changes. It needs to be revisited.

[2016-01-24 23:59] ericrrichards opened #18 "Lots of "[error] | comment is | view on Hacker News" lately"
In the last week, I've been seeing a lot of comment threads with errors retrieving the comments.

Tried browsers:
Chrome Version 47.0.2526.111 m
Microsoft Edge 20.10240.16384.0
Internet Explorer 11.0.10240.16644
Firefox 39.0.3
![image](https://cloud.githubusercontent.com/assets/2787661/12539973/9e41ad1a-c2cc-11e5-9d15-2d01a3287160.png)

[2016-01-25 10:46] insin commented on #18
Assuming this was related to HackerNews/API#6, but will need to improve the error message handling, which was based on any errors I've happened to see and been able to get the JSON response for.

[2016-03-29 03:58] Alexis374 opened #19 "where can I find the webpack config?"
I am a newbee to learn webpack and react.It seems that you use nwb to wrap the webpack,I want to see the webpack config,where can I find it?

[2016-03-29 08:01] insin commented on #19
You might be more interested in react-hn's old webpack config if you;re just getting started: https://github.com/insin/react-hn/tree/v1.4.2

There is no static webpack config in nwb, it creates it on the fly, with various ways of customising it built in. That happens here, starting with the `createWebpackConfig(...)` function: https://github.com/insin/nwb/blob/master/src/createWebpackConfig.js

[2016-03-29 08:01] #19 closed

[2016-04-02 17:35] addyosmani opened #20 "Upgrade to be a Progressive Web App"
I quite like your HN client implementation :) I was curious if you might be interested in turning it into a [Progressive Web App](https://infrequently.org/2015/06/progressive-apps-escaping-tabs-without-losing-our-soul/) with some offline support using [Service Workers](http://www.html5rocks.com/en/tutorials/service-worker/introduction/).

Some of the specific benefits this would bring include fast

[2016-04-02 17:44] NekR commented on #20
If people here are interested in it, I'll be happy make a PR for it.

[2016-04-02 17:50] addyosmani commented on #20
Thanks @nekr! :) Let's see if we can convince @insin these changes are worth bringing in. They'd definitely increase my ability to use this client daily.

[2016-04-03 09:59] insin opened #21 "Revisit how comment threads are modelled and rendered"
Is there any benefit to be gained from modelling comment threads in a way which allows rendering to deal with all comments as siblings, rather than nesting?

The current implementation isn't pretty - it started out as the simplest thing which would work with stuff continually bolted on top to support features like new comment highlighting and folding.

[2016-04-03 10:00] insin commented on #20
I'd love to make it into a Progressive Web App - it's something I've been meaning to investigate in general for a while now, but my own free time for programming is down to a few hours a week at the moment.

Definitely interesting in a PR for this, and any changes necessary to support it :+1:

[2016-04-03 10:18] addyosmani commented on #20
Fantastic :) I started hacking on a prototype of this last night and will try to PR in a piece at a time.

So far I have caching for a lot of the UI working and you can view story pages you've previously viewed offline.

Comment threads do not yet work offline and I didn't want to try approaching it without checking what you thought first :) Would HNService or the stores be the best place to try l

[2016-04-03 11:04] NekR commented on #20
I'll be able to make a PR tomorrow (Monday). But not sure what exactly you want to cache in SW. @addyosmani do you cache dynamic pieces from main thread? If so, SW just for app-shell might be enough.

[2016-04-03 19:53] addyosmani commented on #20
@NekR I've filed two PRs for a webapp manifest and SW support using sw-precache and sw-toolbox for now. I'd be interested in seeing what SW support using `offline-plugin` would look like (if you have time).

When I tried to get `offline-plugin` working with this project locally, I ran into a few issues:

- Once I'd added the webpack plugin config for it to the project, it was only able to SW cache

[2016-04-03 20:16] NekR commented on #20
@addyosmani Thanks for detailed info :)

Yes, I'll try to provide `offline-plugin`'s version of SW.

My plugin is kind of new tool, in compression to `sw-toolbox` or `sw-precache`, so it lacks a lot of important functionalities right now, but I am working on. More people use it, more info I get about what is needed to be done. I am working on a `v3` release at a moment (`v3` branch) which should s

[2016-04-03 21:15] insin commented on #20
I've added you both as collaborators, as I won't be around to merge PRs due to family stuff.

[2016-04-04 12:47] addyosmani commented on #20
@insin Completely missed your last comment :) That's awfully kind of you. Thanks for adding us!

[2016-04-05 12:09] insin commented on #20
And thanks in kind for using react-hn for this - my time for open source has almost completely disappeared due to emigrating and working nights.

I've mostly been using what time I have for `nwb` as I started using it in a few project s at work. Once I get time to review what it takes to set up a Progressive Web App, I'd like to make it easier to build them using `nwb` by moving as much of the rep

[2016-04-05 13:32] insin commented on #20
@addyosmani I should be able to build and release v1.4.11 via [insin.github.com/react-hn](https://github.com/insin/insin.github.com/tree/master/react-hn) when I get home later, or give you collaborator access if you want to do it yourself - your call.

[2016-04-05 15:57] addyosmani commented on #20
@insin If you could do a deployment that would be fantastic. I'm also more than happy to push if that's more convenient for you.

I think that would be very valuable. Tooling for PWAs are still somewhat in their infancy and a lot of folks would benefit from the friction in getting them setup being lowered. Would love to see how `nwb` could help there.

[2016-04-25 12:13] addyosmani opened #25 "Support caching comment-threads / page content offline"
I previously added support for caching the `react-hn` application shell and static assets using Service Worker. This gave us a little bit of offline support, but the bigger missing piece here was caching comment threads and general responses coming back from the Firebase API. Let's fix that :wrench:

Firebase's default offline support unfortunately only works during an individual session, so as so

[2016-04-25 13:10] addyosmani commented on #20
Another addition to this work over in https://github.com/insin/react-hn/issues/25 now. After this I'd like to see what we can do about support for universal/isomorphic rendering and what perf improvements can be achieved with that path.

[2016-04-25 13:21] addyosmani opened #27 "Investigate support for Universal/Isomorphic rendering"
In the [application shell architecture](https://medium.com/google-developers/instant-loading-web-apps-with-an-application-shell-architecture-7c0c2f10c73#.tlax37k1e), we try to encourage server-side rendering for fast first paint as much as possible. Even if just for the "shell"/common user interface.

In our current version of react-hn in master, we still rely on client-side rendering to display a

[2016-04-25 13:30] jackfranklin commented on #27
This is exciting! The first step would be to take https://github.com/insin/react-hn/blob/master/src/index.js and produce a server variant that could run via something like Express. I've no idea how that would play with SWs but I'd be interested to find out!

[2016-04-25 13:31] jackfranklin commented on #27
I'm happy to take a stab at it btw if you'd like me to.

[2016-04-25 13:35] addyosmani commented on #27
@jackfranklin That would be really appreciated. Would love to see how you think this should be structured.

[2016-04-25 14:17] addyosmani opened #28 "Investigate critical-path CSS optimisation"
I've either used Penthouse or Critical to tackle this in my own apps, but it looks like the React community has [isomorphic-style-loader](https://github.com/kriasoft/isomorphic-style-loader) by @kriasoft that plays well with WebPack and server-side rendering.

This may be worth us taking a look at after #27.

[2016-04-25 16:02] jackfranklin commented on #27
@addyosmani so I started playing around with this and hit the fact that all the stores that are used here reference `window` a lot for local storage and for binding to events. I'm still trying to get my head around all the code here but have you any thoughts on this? Maybe we can just avoid using the stores all together on the server and just render the app shell with no data from the server? That

[2016-04-25 16:15] jackfranklin commented on #27
So for now I wrapped every `window` or `document` reference in an `if typeof ...` check, just to see if we can get it going. When running the server though the first server side render does sort of work, but then I get:

[code]

This seems related to https://github.com/facebook/react/issues/6232, but I haven't had time to dig into it yet to figure out what the issue is.

If you want to take my (in

[2016-04-25 16:27] addyosmani commented on #27
@jackfranklin Thanks a lot for exploring this so quickly! I'll give your branch a whirl.

From the looks of that issue, the exception you're seeing may be specific to certain versions of browsers being tested in (but I think it may actually be a React bug). What were you seeing this bug in?

I think that if we need to rethink a little of our architecture for the content side, it would be awesome t

[2016-04-26 10:06] #25 closed

[2016-04-26 10:29] jackfranklin commented on #27
@addyosmani I'm seeing that error on the Node server, not on the browser. The server returns back some HTML (which looks fine) but then crashes with that error. Not entirely sure what's going on there.

Agree that 1st step is delivering the shell, I don't see any reason why that isn't possible with the refs wrapped :)

[2016-04-29 10:12] addyosmani commented on #27
@jackfranklin It looks like that error you were running into is reproducible with React 15. I haven't been able to find a workaround that worked for me in https://github.com/facebook/react/issues/6232, but I might also be missing something totally obvious.

[2016-05-01 00:25] psimyn commented on #27
@jackfranklin I got your branch working by changing `componentWillMount` to `componentDidMount` in `Stories` component. Haven't gone through it to find what is breaking on server, but I suspect something in StoryStore.

[2016-05-02 14:40] addyosmani opened #29 "Investigate performance regressions"
It looks like our switch to optimistically caching all entries (in master) into IDB has introduced a performance regression when compared to the currently deployed version:

http://www.webpagetest.org/video/compare.php?tests=160502_FJ_TT4,160502_3Y_TT5

I'm going to investigate what's causing this. The change in question was this one https://github.com/insin/react-hn/commit/6f05fe2fe78f418c143f0b7

[2016-05-02 16:26] NekR commented on #29
Hmm.. I see only two reasons here: 1) Target device's disk is too slow so network requests are faster; 2) This is IDB freezing main thread because it's known that in IDB land not everything is really async. Plus, `Firetruck` does a lot of separate requests to IDB (not sure if `localForage` optimizes this, I suppose it isn't), so this is another possible cause for the problem.

Possible solution is

[2016-05-02 18:51] addyosmani commented on #29
I think this is the crux of what's happening. We're performing writes as the reads are still occurring and on particularly content-dense pages this is causing significant slow-down.

I agree that we should probably switch to a better batching/queue model for cache writes. Once the response reads are complete, we can then do the write operations. This could be done with events + a timeout or, even

[2016-05-05 19:58] addyosmani commented on #27
@psimyn Were you able to get the shell fully rendering in browser when you switched to componentWillMount? We do currently use sessionStorage and localStorage for caching history positions and a very high level set of item cache indices, but I think it's possible to work around this.

[2016-05-05 20:05] addyosmani commented on #29
I've spent the last few days looking at this (it's more complex than originally thought). My current model moves a lot of the data storage operations into a Web Worker and works on a batch/queue/interval to save us thrashing the main thread but unfortunately we still run into significant delays with reading back comment threads from localforage/IDB. I haven't been able to pin it down to specific m

[2016-05-06 03:23] insin opened #30 "Prevent settings from overlapping category links on small screens"

[2016-05-06 03:30] insin opened #31 "Implement a "threads" section"
Allow users to specify their HN username and create a "threads" section with the comment ids from their profile data.

We could also potentially implement new reply notification by watching the first page worth of their comments (or slice it by date, or something else).for new comments.

[2016-05-06 12:04] psimyn commented on #27
Seems to all work fine - nav/paging links all work (loading page with JS disabled).

![shell](https://cloud.githubusercontent.com/assets/1731922/15071394/878630c0-13ce-11e6-85d9-c7e84e098fca.png)

I think protection around the cache setting is needed - `onStoriesUpdated` is where it seems to break when using `componentWillMount`

[2016-05-06 12:14] addyosmani commented on #31
This would be super nice to have.

[2016-05-06 12:15] addyosmani commented on #30
Noticed this on iOS in particular. On some narrow viewports we run out of screen real estate pretty quick in the top nav. Worth falling back to a settings cog icon via media query to solve this?

[2016-05-06 12:27] addyosmani commented on #27
I think you're right. Anyone interested in playing with shielding caching as a next step here?

I've been trying to play with/figure out what the major blockers for server rendering the main content (topstories, comments) are. Beyond shields, we currently use the main real-time Firebase API for content. I wonder if we would need to switch to (or fallback) to their REST API and use node-fetch + jus

[2016-05-06 12:28] addyosmani commented on #27
cc @davideast just as an FYI

[2016-05-06 21:32] addyosmani commented on #27
For anyone interested: https://github.com/insin/react-hn/tree/isomorphic-take1 includes @jackfranklin's work, some further tweaks I made to bring back hostname parsing without using the DOM and one or two of the fixes mentioned in this thread to fix breakage.

[2016-05-07 08:12] #30 closed

[2016-05-07 08:15] addyosmani commented on #29
Closed via https://github.com/insin/react-hn/commit/37f709cbbea66cf7d276087a6ff30501d3fe1da3

[2016-05-07 08:15] #29 closed

[2016-05-07 18:14] NekR opened #34 "Links overflow in comments"
Keep seeing this in comments:

![image](https://cloud.githubusercontent.com/assets/1189265/15093717/9e45e632-1498-11e6-85cc-ccc1cf40d16f.png)

[2016-05-09 15:53] addyosmani commented on #34
+1. I think I see two bugs here. One is the layout not adapting to include the full width of the content and the other is link text needing to be truncated a bit (they may well be related to the same issue).

[2016-05-17 18:36] insin opened #37 "Add a "best" stories section"
See HackerNews/API#7

Where would be a suitable place to show this?

HN proper puts it on a `/lists` page: https://news.ycombinator.com/lists

[2016-05-21 06:57] addyosmani opened #38 "Update deployed URL in repo to reflect AppEngine hosted version"
The latest version of the app with universal rendering is now up at https://react-hn.appspot.com. I have a few more optimisations locally that I need to PR back in over the coming days, but if we'd like to update the URL in the GitHub 'site'/link field for the repo, please feel free to use it :)

@insin What's the best email address to use if I'd like to add you to the AppEngine instance where thi

[2016-05-21 07:05] addyosmani commented on #38
Thanks @insin! :)

[2016-05-21 07:08] insin commented on #38
Done - did the same for the README.

Use jonathan.buchanan@gmail.com - having access to redeploy would be great, thanks! Planning to get my Redux on with this and we can switch to React Router's `browserHistory` too now that it has a server.

Thanks for using this app as part of your PWA experimentation - learnt a lot by proxy about a subject I've been meaning to dive into but never found time for

[2016-05-21 07:08] #38 closed

[2016-05-21 07:11] addyosmani opened #39 "At build time, concat vendor/app scripts and async load in"
Basically, over in this: https://github.com/insin/react-hn/blob/master/src/views/index.ejs#L37

We want to concatenate both vendor and app scripts into a single bundle so at build time instead of:

[code]

We're just doing:

[code]

to avoid blocking.

An alternative to this approach would be ignoring concatenation and just focusing on our HTTP/2 story. I haven't deployed HTTP/2 with push support

[2016-05-21 07:12] addyosmani commented on #20
With the latest version now up on the repo, let's close this one and focus on some smaller iterative improvements :)

[2016-05-21 07:12] #20 closed

[2016-05-21 07:22] insin commented on #39
IIRC we should be able to disable vendor splitting in the `nwb` config, and if I'm not recalling correclt, I'll make it possible and publish a new release with that.

[2016-05-21 18:11] addyosmani commented on #39
I might be reading it wrong (probably am!) but couldn't find a way to disable vendor splitting over in https://github.com/insin/nwb/blob/master/docs/Configuration.md#webpack-object.

[2016-05-23 16:38] felquis commented on #34
I'm sending a PR in a few minutes

[2016-05-23 22:14] addyosmani commented on #27
So we've now landed universal rendering for the UI shell. We don't yet do this for the content. As part of introducing 'Offline Mode' (in Settings) we landed support for a REST-based HN Service over in https://github.com/insin/react-hn/blob/master/src/services/HNServiceRest.js.

@jackfranklin suggested that we could maybe use https://github.com/ericclemmons/react-resolver as way to get universal r

[2016-05-26 07:37] NekR commented on #34
Fixed in https://github.com/insin/react-hn/pull/42

[2016-05-26 07:37] #34 closed

[2016-05-26 11:14] jackfranklin commented on #27
I suggest react-resolver only because I've used it once on a small demo and it worked really nicely - happy to take other ideas if anyone else has more experience.

@addyosmani how are you setting that flag ? Are you thinking query param? So default is effectively what we have now, and you go for `?rest=1` or something that would get you REST API + server resolved data and no/some live updates on

[2016-05-26 12:46] addyosmani commented on #27
@jackfranklin There are a few ways we could tackle this. After discussing it a little further on Twitter, a few ideas that dropped out:

- By default, use a server-side/universal render (with REST + react-resolver) for the first view of any page. Once JS has loaded, switch to the normal HNService.js adapter (Firebase/WebSockets) for any real-time updates. This avoids needing to introduce any flags

[2016-05-26 16:03] sejoker opened #43 "Offline support in Firefox"
I was impressed with the demo @addyosmani did at IO 2016. Offline support works perfectly in Chrome. I cannot get it working in latest FF 46, although according to Jake Archibald's [status page](https://jakearchibald.github.io/isserviceworkerready/) the service workers support in FF as good as in Chrome. Maybe the libraries that were used (sw-toolkit and sw-precache) have some issues or it is the

[2016-05-27 16:37] addyosmani commented on #43
Just to check: for offline cached comments did you turn on 'Offline Mode' in Settings before testing? Also, were you testing on Firefox for Android or Firefox desktop?

[2016-05-28 10:42] sejoker commented on #43
@addyosmani you are right, I forgot to check 'Offline mode' in Settings when tested in the desktop version of FF, it works perfectly fine in Firefox desktop.

On a side note, I've tested the app on the mobile (Nexus 6, Android 6.0.1) and cannot make it work in offline mode using FF and Chrome ('Offline mode' checked in Settings).

I assume this issue could be closed, but I would be appreciated to

[2016-05-28 11:21] addyosmani commented on #43
@sejoker I need to come up with a slightly better UX for it, but something that you might find fixes issues you're running into on Android is pulling-to-refresh once you've switched to `Offline Mode` or relaunching the app from your homescreen after going into `Offline Mode`. That should trigger it. I probably could add a 'force refresh on setting the option' routine in there to avoid this. Will c

[2016-05-28 11:21] #43 closed

[2016-05-28 21:48] sejoker commented on #43
At least comments cache in 'Offline mode' doesn't work on Android mobile (on both Chrome and FF). Tried to run from homescreen and in the browsers. Also, the issue reproduced on Android 5 (tried on the different device to be 100% sure).

[2016-05-30 11:42] addyosmani commented on #27
I started roughly [playing](https://github.com/insin/react-hn/commit/4b405073f0515772bd6c965fccea6f614cdb3085) with `react-resolver` over the weekend and run into a few brick walls (likely due to my own ignorance).  The server.js changes I made look a little like this:

[code]

which I think look rights. **Note that after the next sets of changes I still don't manage to get `resolverRest.data` pop

[2016-05-30 18:36] sejoker commented on #43
@addyosmani you have precisely described the steps I used to reproduce the issue.

[2016-05-30 18:40] addyosmani commented on #43
Hmm. Just tested the above on Firefox for Android (Beta) and story and comment caching was working as expected. Perhaps I'm using different versions of these browsers. Could you confirm what versions you're using and I'll give those a spin too? :)

[2016-05-30 18:55] sejoker commented on #43
I finally figured out the reason why it didn't work for me. Service workers require https only, the website allows to work with http and doesn't redirect to https by default. Initially, I've added the link to the homescreen when served the page from http. I confirm that caching works on Firefox and Chrome on Android when accessed through https.

[2016-05-30 18:56] sejoker commented on #43
@addyosmani  thanks a lot for your time.

[2016-05-31 08:30] insin commented on #43
Looks like this is the necessary `app.yaml` config to require https and redirect to it from http: https://cloud.google.com/appengine/docs/flexible/nodejs/configuring-your-app-with-app-yaml#security

[2016-05-31 12:50] addyosmani commented on #43
I'll create a new issue to update the app.yaml. Thanks @insin!

[2016-05-31 12:51] addyosmani opened #44 "Update app.yaml to always default to https for deployed app"

[2016-05-31 14:40] #44 closed

[2016-05-31 17:06] sejoker commented on #44
that's awesome :clap:

[2016-06-01 17:48] addyosmani commented on #27
Takeaway from my `react-resolver` experiments: didn't quite work out well for our needs. If someone wants to take a fresh stab at it, more than welcome :)

Until then, I started looking into just using `statics` inside our components to define a `fetchData` routine that could be called from either the client or the server. I've seen a [few](https://github.com/pwmckenna/tally-master/blob/5d07c78bdd

[2016-06-03 19:14] addyosmani commented on #27
Updating this thread with progress on local experiments:

* Tried fetchData statics for each component that we `Promise.all` resolve before server rendering
* Tried "Fat" router that fetches the top stories then resolves the child entries before sending back to props

Unfortunately, because of the way the official Firebase HN API is setup, there are quite a lot of network requests that need to be

[2016-06-10 07:33] agnivade opened #48 "Error in app start-up"
I did npm install, npm run build and then npm start

agniva-~/play/react-hn$npm start
[code]

My node version is 4.3.2. Do I need to upgrade ?

[2016-06-10 09:45] insin commented on #48
This is because there's no `babel` dependency in package.json - there should be and it should match the version nwb is using to avoid duplicating it.

This works by coincidence if you're using npm3 (which is the default version as of Node v5 and above) as it places all non-duplicated transitive dependencies in require() scope.

I'm seeing this popping up more and more since npm3 made it possible.

[2016-06-10 10:07] agnivade commented on #48
Well, I have tried with installing babel and re-running it. Still it gives the same error. Do you want me to install the same version of babel which nwb uses and retry ?

[2016-06-10 10:10] insin commented on #48
Yes, `babel-register` is a separate package in Babel 6, so it'll need to be Babel 5 for now.

[2016-06-10 10:43] agnivade commented on #48
Ah I see ! Got it to working now. Thanks.

[2016-06-23 12:20] addyosmani opened #49 "Add Google Analytics tracking"
Prior to a full 'relaunch' of ReactHN as a Progressive Web App, I think it'd be useful to add in GA tracking 🙈

This might help us understand who our audience are, what devices/browsers they're accessing us with and help get some other insights that might be useful for the future.

Will throw together a PR once I've setup an account and added @insin.

[2016-06-23 12:51] #49 closed

[2016-06-23 12:51] addyosmani commented on #49
Confirmed this is working with GA locally. Going to deploy now! 🚀

[2016-06-27 23:20] indrekpaas opened #50 "Insufficient contrast on visited links"
UI can be improved by increasing the contrast between visited and unvisited links whether by more prominent change in color or other visual indication.

[2016-06-28 03:08] simevidas opened #51 "Layout issue with Settings dialog on iOS"
![image](https://cloud.githubusercontent.com/assets/716405/16402694/86d37004-3cee-11e6-999b-4c72d57efd54.png)

[2016-06-28 04:04] RichardMaher opened #52 "Firebase integration"
Hi,

Looks good!

Can I ask how you integrated with Firebase for "realtime" news updates?

Does your Application Server keep track of all client subscriptions and send and individual news message to each of them or have you been able to utilize FCM's topic broadcast capability?

[2016-06-28 04:17] insin commented on #52
Every React component listens to its own corresponding Firebase item using [ReactFire](https://github.com/firebase/reactfire) - I have a post about this aspect of react-hn here:

https://medium.com/@jbscript/lazy-live-data-with-react-79ed1cb1f4d6

[2016-06-28 04:17] #52 closed

[2016-06-28 11:43] addyosmani commented on #51
@simevidas Thanks for the bug report. Could you confirm which version of iOS you were testing? I'll get a patch in for this once I know.

[2016-06-28 11:45] addyosmani commented on #50
@indrekpaas Is there an audit tool you were using to test this or specific contrast changes you're suggesting? cc @robdodson just in case he has suggestions too (with respect to https://react-hn.appspot.com).

[2016-06-28 12:41] addyosmani opened #53 "[Firefox] Navigation > Comments page is slow to load"
I haven't been able to repro this in other browsers, but in Firefox (desktop) the top-level Comments page takes a long time to return any data. It works fine with all our other views.

Video: http://recordit.co/uKni7RWp9n
Versions tested: FF 46, 47, 50

Oddly, it works absolutely fine in Firefox for Android (stable).

Similarly odd, testing locally, we have no issues loading this page as quickly a

[2016-06-28 13:34] insin commented on #53
Here's Firefox 47 for me using the deployed version:

![2016-06-28_23-32-29](https://cloud.githubusercontent.com/assets/226692/16417336/b4fe72ae-3d88-11e6-9f63-e1170fe3ba41.gif)

[2016-06-28 14:11] addyosmani commented on #53
Thanks @insin! I wonder if this issue is resolved for @wanderview now too. Might have been temporary.

[2016-06-28 14:27] insin commented on #53
`/newcomments` is sensitive to whatever's happening right now on HN, as it'll keep showing a spinner until somebody creates/updates a comment and its id appears on https://hacker-news.firebaseio.com/v0/updates

[2016-06-28 14:52] simevidas commented on #51
iOS 9.3.2, the latest stable version.

[2016-06-28 15:25] indrekpaas commented on #50
@addyosmani This doesn't relate to a11y as opposed to UX. The list is quite monotonous and from the screenshot below, it's difficult to distinct between visited (2, 3) and unvisited (1, 4) links.

![Imgur](http://i.imgur.com/USpHIJw.png)

[2016-06-28 15:54] robdodson commented on #50
@addyosmani the contrast itself seems to meet WCAG AA (http://leaverou.github.io/contrast-ratio/#%23666-on-%23F5F5F5) but if it's more a UX complaint I think that could be valid.

[2016-06-28 16:08] wanderview commented on #53
The top level comments do work for me with default settings.  Its only when I check "offline mode" do they stop working.  This happens for me across all platform and browser configurations.

Devtools shows this in the console:

HNServiceRest.js:37 Uncaught (in promise) TypeError: l(...).once is not a function(…)

[2016-06-28 16:09] wanderview commented on #53
![screenshot 2016-06-28 12 08 43](https://cloud.githubusercontent.com/assets/1256526/16423205/1956f286-3d29-11e6-83f0-a752697edb9b.png)

[2016-06-28 17:06] addyosmani commented on #53
@wanderview I can repro this in offline mode now in both FF and Chrome. Marking as a bug and will look into a patch.

[2016-06-29 12:57] addyosmani commented on #53
I have a patch locally that I believe fixes this. Deployed to https://react-hn-comments.appspot.com. @wanderview would you mind testing that with Offline Mode enabled please? 🍬

[2016-06-29 14:28] wanderview commented on #53
Works great.  Thanks!

[2016-06-29 14:42] addyosmani commented on #53
🎉 🎈 🚢 Yay!

Thanks for confirming. I'll get the patch landed soon.

[2016-06-29 15:17] #53 closed

[2016-06-29 16:27] catskull opened #54 "Add a dark mode"
I read HN at night in bed, so a dark theme is essential for me. This is better than any of the android HN apps out there, so I'd really like to switch to it full time.

I can contribute, but I'll need a little bit of direction on how to accomplish this.

Thanks, this is really slick. Especially saving it to my home screen on my phone!

[2016-06-29 17:03] addyosmani commented on #54
I could see a dark theme being an option we include in the `Settings` panel that happens to switch out based on user preference. Perhaps it would be useful to mock-up something not implementation specific to start out with so we can review what you had in mind?

Could even be as simple as editing the Styles with DevTools and popping over a screenshot.

[2016-06-29 17:52] addyosmani opened #55 "Service Worker: add support for Cache expiration"
In `Offline Mode`, we could take advantage of the sw-toolbox [Cache Expiration](http://googlechrome.github.io/sw-toolbox/docs/releases/v3.2.0/cache-expiration-options/) feature to limit how long story and comment threads get offline cached.

This is useful if you've been using the app for a few weeks, have built up a large offline cache of content and would prefer that we only keep stories/comment

[2016-06-29 18:25] #27 closed

[2016-06-29 18:28] insin commented on #54
Something Monokai-ey?

![firefox_2016-06-30_04-27-43](https://cloud.githubusercontent.com/assets/226692/16463866/14010210-3e7b-11e6-9dd6-b562bec17057.png)

[2016-06-29 19:41] catskull commented on #54
@insin that's perfect!

[2016-06-29 19:43] catskull commented on #54
Tell me if this is a dumb idea: have the theme auto-switch based on the time of day?

[2016-06-30 10:36] marcacohen opened #56 "Improve caching strategy"
I love this app, thanks for building it! But it's missing the mark for me in an important way. Let me explain...

For me, HN links have a binary utilization profile, by which I mean that I follow a link zero or one times. So caching on access is useless for me because once I don't tend to revisit previously read articles. And the lack of pre-caching means I get the dreaded dinosaur whenever I clic

[2016-06-30 10:44] marcacohen commented on #56
p.s. I'm interested in working on a PR for this feature if it's considered a worthwhile thing to add.

[2016-06-30 16:00] jasan-s opened #57 "Anyone up for creating a guide/tutorial of creating this PWA from scratch?"

[2016-07-01 23:00] tracker1 commented on #54
The time of day switch would be interesting...   But I think most people would prefer more of an either/or.

[2016-07-02 11:10] addyosmani commented on #57
The approach we took to this PWA was taking an existing codebase and iteratively adding in features like offline (w/Service Worker), SSR and so on to it. I'm working on a rough guide to that. I think there's an interesting story to tell about how to migrate codebases that aren't new there.

@insin might have some articles he wrote with learnings about ReactHN (or might have some planned). We'd hav

[2016-07-03 16:20] addyosmani commented on #56
I talked to @marcacohen about this feature a little offline. In short, the suggestion here is an **opt-in mode for pre-fetching the first N external articles from the top stories page for offline reading**.

This is an interesting problem that could be tackled in a few different ways:

1. **Server-side 'readability' proxy** We would need to self-host a service that takes a URL (a top story item),

[2016-07-03 16:55] addyosmani commented on #54
@insin ❤️ it

[2016-07-03 23:47] addyosmani commented on #56
Did some research and found https://github.com/n1k0/readable-proxy/. Looks like we could fork and add SW support to test out your idea.

[2016-07-04 09:02] marcacohen commented on #56
Jake Archibald also pointed me to https://github.com/premii/hn as another
example to learn from.

On 4 July 2016 at 00:47, Addy Osmani <notifications@github.com> wrote:

--
Marc Cohen
mco@google.com
http://about.me/marc1

[2016-07-06 15:20] kdzwinel opened #58 "Streatch gray background when loading comments"
While comments are loading white bg is visible under the footer.

![screenshot_2016-07-06-17-13-46](https://cloud.githubusercontent.com/assets/985504/16623325/bdf7d380-439d-11e6-92a1-bfef72a68625.png)

[2016-07-06 21:24] LeoAJ opened #59 "React on ES6+"
Any plan to migrate React to ES6+ syntax?

[2016-07-16 16:28] addyosmani commented on #56
@marcacohen After working on some more proof-of-concepts here, I think we could probably knock out this feature in under a week (same time if we were to guide you through it) 🎀 Are you still interested in working on it?

[2016-07-22 23:30] marcacohen commented on #56
Hi Addy,

Sorry for the delay. I'm up for taking a crack at this. Do you have any
refs you can point me to, or should we have a VC to cover your guidance
verbally?

Marc

On 16 July 2016 at 17:28, Addy Osmani <notifications@github.com> wrote:

--
Marc Cohen
mco@google.com
http://about.me/marc1

[2016-07-30 15:14] insin commented on #59
This was one of the apps I wrote to learn React, so there are lots of things which need to be addressed (getting rid of mixins, replacing state management with something which better enables rendering to be optimised, etc.).

It already uses a bunch of ES6 syntax and a re-do would use more of it - ES6 `import` syntax etc. - but I'm not a fan of `extends Component` because you lose autobinding and

[2016-08-01 01:20] LeoAJ commented on #59
I see, thanks!

[2016-08-01 01:20] #59 closed

[2016-08-06 04:08] tracker1 commented on #59
Regarding extends Component, tbh, even though you may wind up using experimental decorators for class syntax, it isn't bad... one benefit, is you can still use straight function syntax for example with redux, to export a default as a wrapped version, as well as a raw version for testing against...

[code]

Though, I find that for the most part, In practice, I'll do the state/action mapping a littl

[2016-08-06 04:47] insin commented on #59
I'll probably come round to it once I've given the sugar a proper 5 minutes. I have to write some of the documentation for the next version of nwb using `extends Component` as some of the transforms nwb enables by default don't support `createClass`.

Class properties (and decorators) are now stage 2, so will work out of the box with zero configuration in the upcoming version of nwb, which is the

[2016-08-06 22:11] #51 closed

[2016-09-13 01:35] jasan-s opened #61 "My app shell disappears and reappears on page reload, why?"
I used this PWA as an example using SW precache v2 in my React App and webpack. However, I am not getting the same results.  My app works offline. but on page reload everything from the DOM disappears and gets fetched again, the results do come from the service worker: (see photo below). In contrast this app and thesession.org app dont even make a request on page reload. What I'm I missing?
![app_

[2016-09-21 14:38] insin opened #62 "Time-travel new comment highlighting"
Example: https://twitter.com/jbscript/status/778602796497199104

Userscript version for HN proper: https://github.com/insin/greasemonkey/blob/master/hncommenttrees.user.js

This allows you to more easily catch up on threads you were reading on another device.

[2016-09-21 15:18] addyosmani commented on #62
That is super nice :)

[2016-09-29 17:28] addyosmani opened #63 "Work on trimming down bundle size further"
I already have work in flight to switch us over to [route-based chunking](https://gist.github.com/addyosmani/44678d476b8843fd981ff8011d389724), which helps a little with making the main bundle smaller. Unfortunately, we still have a pretty large dependency on Firebase at the moment. Would love to try trimming this down some.

![screen shot 2016-09-29 at 10 20 48 am](https://cloud.githubusercontent

[2016-09-29 17:45] addyosmani commented on #63
TIL via @davideast that the Firebase npm package has docs on custom builds: https://www.npmjs.com/package/firebase#include-only-the-features-you-need.

[2016-10-06 01:07] addyosmani opened #64 "Update all dependencies to latest (including syntax)"
The currently deployed build should be working fine, but our deps changed a bit since we did a release. A little work to do:

- [x] Firebase 2.0 -> 3.0
- [x] Latest stable React Router
- [x] Latest nwb with Webpack
- [x] Reach parity with master feature-set
- [x]  Trim vendor build by switching to modular Firebase pieces

[2016-10-06 01:13] addyosmani commented on #64
Working on this over in https://github.com/insin/react-hn/tree/update-latest-deps. Service Worker caching in that branch is currently busted (most likely due to the public -> dist path changes). I'll look at that next.

[2016-10-06 01:14] addyosmani commented on #63
Depends on https://github.com/insin/react-hn/issues/64 getting knocked out.

[2016-10-06 23:15] addyosmani commented on #64
It took longer that I expected to get parity with master. There's a few quirks with how the latest nwb interacts with HtmlWebpackPlugin and I had to add some unexpected duct-tape to remove generated index.html files I didn't think should be generated and re-wire up templates. Locally testing, everything seems to be working now on branch.

[2016-10-09 03:08] addyosmani commented on #64
I now have route-chunking working in branch. Service Worker caching works again too.

Here's the latest deploy: https://react-hn-canary.appspot.com

Going to play with trying to optimise this further.

[2016-10-11 01:23] veeracs opened #65 "Cannot find module 'babel/register'"
Wondering if we are missing babel dependencies. I get below error when I run `npm i && npm start`

[code]

[2016-10-11 18:40] addyosmani commented on #65
Try the https://github.com/insin/react-hn/tree/update-latest-deps branch. I'm going to PR that against master sometime soon, once I've cleaned up my commits.

[2016-10-13 16:09] #64 closed

[2016-10-13 21:14] addyosmani commented on #65
Okay. This should now be fixed with master.

[2016-10-13 21:14] #65 closed

[2016-10-13 21:14] addyosmani commented on #63
Firebase atomic module switch-over and code-splitting are now in master.

[2016-10-13 21:14] #63 closed

[2016-10-15 20:52] addyosmani opened #67 "Deploy 1.6.0 to AppEngine"
Currently deployed to the canary subdomain, but needs to be deployed to the main site.

[2016-10-20 21:35] addyosmani commented on #67
Done

[2016-10-20 21:35] #67 closed

[2016-10-20 21:36] addyosmani opened #68 "Investigate using Lighthouse"
Few diff directions this could take. Could just be an optional local run post-build. Could be something in CI. Going to kick the tires a little 🚗

[2016-10-20 22:20] addyosmani commented on #68
First POC in https://github.com/insin/react-hn/tree/lighthouse. `npm run lighthouse` which concurrently build/serves and runs the audits.

[2016-10-23 20:35] denar90 opened #69 "Offline mode is broken"
I found out that app isn't working offline. Looks like service-worker was not generated by sw-precahce. It's empty https://github.com/insin/react-hn/blob/master/public/service-worker.js
Probably this [commit](https://github.com/insin/react-hn/commit/2ef88be3cd438c99d39ed8e0cb8679fc94988127#diff-580e737539679088be6cbdf634e8bcceR6) broke it...

[2016-10-24 12:32] nicholas-b-carter opened #70 "fresh repo clone fails during postinstall"
When the `postinstall` script is run, the script fails due to dist dir not existing.

[2016-10-26 14:09] nicholas-b-carter commented on #70
@insin

[2016-10-26 23:32] derickwarshaw commented on #70
I'm excited to see this implemented.

[2016-10-31 01:01] addyosmani commented on #69
When you say the app isn't working offline: is this testing against https://react-hn.appspot.com/ with Offline Mode switched on in Settings?

[2016-10-31 01:01] addyosmani commented on #69
Ah. Confirmed https://react-hn.appspot.com/service-worker.js wasn't generated. I'll rebuild.

[2016-10-31 06:05] denar90 commented on #69
Yeah. Sorry for bad description.
**Steps to reproduce:**
 - open https://react-hn.appspot.com
 - check offline checkbox  in chrome dev tools in network tab
 - refresh the page

[2016-10-31 06:10] addyosmani commented on #69
New deploy is now up. Could you go to DevTools -> Application > Clear Storage -> Clear site storage, refresh and try again? Works here.

[2016-10-31 06:13] denar90 commented on #69
Now it works fine. Just added better description for people who might face this issue in future.
Thanks.

[2016-10-31 06:13] #69 closed

[2016-11-06 22:05] anoopmundathan opened #72 "Error - Not able to do 'npm run build'"
### Environment
#### MacOS Sierra - 10.12.1 Beta (16B2548a)
#### node v7.0.0
#### npm v3.10.9

Getting below error when running ```npm run build``` after cloning the repo and ```npm install```

cp: dist/sw-toolbox.js: No such file or directory

npm ERR! Darwin 16.1.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "run" "build"
npm ERR! node v7.0.0
npm ERR! npm  v3.10.9
npm ERR! code ELIF

[2016-11-24 02:03] addyosmani commented on #72
Recloning master from scratch, I'm able to reproduce this. Looking into what's busted.

[2016-11-24 02:09] addyosmani commented on #72
This should be fixed in https://github.com/insin/react-hn/commit/25e5dee8cfdbd0f4c5d84e2037e32a73b4beb3e1. Could you pull the latest changes and try again? This got everything building again locally:

![](https://i.imgur.com/PFeXR9H.jpg)

[2016-11-25 18:04] anoopmundathan commented on #72
@addyosmani worked 👍

[2016-11-25 18:04] #72 closed

[2016-11-27 06:34] addyosmani commented on #72
Awesome! :)

[2016-11-27 06:35] addyosmani commented on #70
Pushed a few fixes that seemed to work for https://github.com/insin/react-hn/issues/72. Can you confirm whether latest master still has issues for you?

[2016-11-28 16:17] brunoqc opened #73 "manifest.d41d8cd9.js:1 Uncaught SyntaxError: Unexpected token <"
The server sends HTML.

[2016-11-28 16:19] brunoqc opened #74 "lighthouse: 'URL responds with a 200 when offline' doesn't pass"
If I run the lighthouse tests, "URL responds with a 200 when offline" doesn't pass.

offline still seems to work.

[2016-12-10 03:32] nicholas-b-carter commented on #70
Can confirm this is fixed now. Thanks!

[2016-12-15 20:07] pmachowski commented on #74
Any Ideas why this is happening?

[2016-12-17 13:12] proyb6 opened #75 "Points is not consistent"
I find first load shows 13 points and it add up to 16 points for some items.
https://react-hn.appspot.com/#/news?_k=yyykob

[2016-12-30 05:44] ankushjindal opened #76 "Top stories"
Option to view news.ycombinator.com/best

[2017-01-18 02:45] Boscop opened #77 "npm install fails"
I tried to run build this project on Windows 8.1 but it fails:
[code]

My versions are:
[code]

[2017-01-23 18:04] fredericksilva commented on #77
#### Perfect Build on OSX
[code]
Friend, I suggest you use [cloud 9](c9.io) to run this project is a more stable environment to make the windows kernel

[2017-03-07 16:28] stuartlangridge opened #78 "Sourcemap seems to be HTML"
As per #73 (the same bug for manifest.js), https://react-hn.appspot.com/build/sw-toolbox.map.json seems to be HTML.

[2017-03-07 16:30] addyosmani commented on #77
I haven't been able to repro build failures on Windows, but if you're still running into this issue let me know and we'll reopen.

[2017-03-07 16:30] #77 closed

[2017-03-07 16:31] addyosmani commented on #74
This appears to have been a bug in Lighthouse. We're all green now:

![screen shot 2017-03-07 at 8 21 06 am](https://cloud.githubusercontent.com/assets/110953/23666624/659fc17e-0310-11e7-812e-75f6186724cd.jpg)

If this is still an issue, feel free to reping and I'll reopen it.

[2017-03-07 16:31] #74 closed

[2017-03-07 16:31] #70 closed

[2017-03-14 09:45] addyosmani opened #79 "Experiment: port over to using sw-helpers"
Repo: https://github.com/GoogleChrome/sw-helpers/
Goal: try out the successors to sw-precache & sw-toolbox, provide feedback. See how well they serve ReactHN's offline caching needs.
Time: 1-2 hours

[2017-03-27 06:29] eko24ive opened #80 "Question: react-router"
I'm just curious why would you decided to use `react-router@2.8.1` not v4 ?
Was this choice made due to some key features which available only for v2 ?

[2017-03-27 17:55] tracker1 commented on #80
Likely because this project predates v4.

[2017-03-28 22:24] eko24ive commented on #80
Whoops, I'm apologize for this one.
GitHub Trending brought me here, so I though this one was fresh repo without looking at the last commit date, sorry 😅

[2017-03-28 22:24] #80 closed

[2017-05-16 08:43] #79 closed

[2017-06-05 16:29] #39 closed

[2017-06-09 00:45] aleyan opened #84 "Reloading development server"
I am trying to run a development server locally and code doesn't appear to reload code in the browser on save of file or on reload of browser. This happens when I run the server with `npm run start`.

Alternatively I have tried running a development server using nwb with `npm run serve` and then the code reloading does work. However, in this case no css is loaded and the index html is more bare th

[2017-06-09 03:13] aleyan commented on #84
Ok, I figured out how to get `npm run serve` working. The trouble was nwb was using its own default "index.html" to start the app with. I changed HtmlWebpackPlugin plugin to compile views/index.ejs to it instead in PR 85.

[2017-09-13 15:30] bbigras opened #88 "workbox-sw@0.0.2: Failed to load resource: net::ERR_UNSAFE_REDIRECT"
workbox-sw@0.0.2 doesn't load with Chrome.

[code]

[2017-09-25 10:09] MohanadI opened #93 "Module not found: Error: Cannot resolve module 'history/lib/createHashHistory'"
I am trying to run npm install and I faced this errors

npm v 5.3.0

[2017-09-25 10:17] MohanadI commented on #93
fixed

I replaced "history": "^4.7.2" with "history": "^2.1.2" in package.json

[2017-09-25 10:17] #93 closed

[2017-10-07 16:20] garyrob opened #94 "Why does show the first page items, then show blinking dots, then show the items again?"
On my machine, in Google Chrome, react-hn very quickly shows the full front page of Hacker News, with all its items, but then it shows blinking dots, and then shows the items again.

I assume the quick display is because of SSR. But why can't those items stay on the screen until everything is loaded? It looks terrible and slow the way it works now, but could appear very snappy if the SSR-rendered

[2018-01-09 09:08] crazyyi commented on #57
@addyosmani Can you explain the design philosophy of this project?  Just an architecture diagram maybe enough. I have managed to implement most of the client but is totally different from this project. Mine implementation is more basic and have mixed the data logic in the presentation components. I find this project uses very complicated structure to separate logic between components which I don't

[2018-01-09 10:01] insin commented on #57
Does this count? https://medium.com/@jbscript/lazy-live-data-with-react-79ed1cb1f4d6

[2018-01-11 14:43] crazyyi commented on #57
@insin Thanks the blog focuses more on updating live data with firebase. But I just want to get the basic things worked first. I haven't used firebase before. And now react's new version suggests not to use Mixins. So I won't use 'react-firebase' (like that in `react-hn`) any now. I might use something like `re-base`. But do I need an API key?

[2018-03-15 20:08] hangdocgiatot opened #98 "WC"

[2018-03-16 01:31] tracker1 commented on #98
@hangdocgiatot WC????

[2019-03-14 15:21] nirav commented on #76
This would be amazing, curious why this isn't supported easily... new is support.

[2019-03-20 13:51] cdurth opened #99 "Live link down"
Live link appears to have gone dead today (3/20).

Intended?

[2019-03-22 18:37] dianjin commented on #99
This was my favorite site to browse HN! I have yet to find another wrapper with collapsible comments.

[2019-03-22 22:27] cdurth commented on #99
@dianjin same. I am going to re-deploy it this weekend and will update this with an updated url

[2019-03-25 15:40] cdurth commented on #99
https://hn.cdurth.com

[2019-06-20 05:46] 1alexvash opened #100 "Test page doesn't work FUCK HOW TO DELETE IT?"

[2019-06-24 10:29] surfmuggle commented on #100
Could it be that this issue is adressing the same as https://github.com/insin/react-hn/issues/99 ?

In Issue/99 [cdurth](https://github.com/cdurth) provided his mirror: https://hn.cdurth.com/

[2019-06-24 11:01] 1alexvash commented on #100
Yes but they need to update the repo

[2019-06-29 12:51] 1alexvash commented on #100
How to delete this issue?

[2019-07-04 06:07] 1alexvash commented on #100
GUYS PLEASE DELETE THIS ISSUE

I DON'T WANT TO SEE THIS REPOSITORY IN MY REPOSITORIES LIST

[2019-07-06 07:36] 1alexvash commented on #100
?

[2019-07-06 07:41] 1alexvash commented on #100
surfmuggle

Coud you delete this issue?

[2019-07-06 07:41] 1alexvash commented on #100
surfmuggle

Could you delete this issue?

[2019-07-08 05:40] 1alexvash commented on #100
?

[2019-07-08 05:40] 1alexvash commented on #100
?

[2019-07-08 05:40] 1alexvash commented on #100
?

[2019-07-08 12:35] 1alexvash commented on #100
??

[2019-07-09 05:24] 1alexvash commented on #100
Fuck Alexander for making stupid issues

[2019-07-27 05:21] realPrimoh commented on #99
Just wondering, how did you manage to deploy it?

[2019-07-30 02:16] cdurth commented on #99
I believe all that was necessary was to clone the project and start the node server `npm start`.
I don't recall putting much efforts into getting it running.

[2019-08-13 09:34] kambleaa007 opened #101 "LINK SEEMS DOWN"
Error: Not Found
The requested URL / was not found on this server.

[2020-02-03 18:26] dhuang612 commented on #101
try the one at the top of the page:
https://insin.github.io/react-hn

I think they moved hosts from appspot to github pages.

[2020-03-14 00:26] insin commented on #101
Fixed in #102, thanks!

[2020-03-14 00:26] #101 closed

[2020-03-14 00:27] insin commented on #98
WC!

[2020-03-14 00:27] #98 closed

[2020-03-14 00:31] insin opened #103 "Add a section for stories you've looked at"
This should paginate every story we have last visit details for in `localStorage` for, newest ids first.

This is a view I'd like to have on the real Orange Website - submissions whose comment threads you've looked at, but which you haven't upvoted or favourited.

[2020-03-14 15:07] insin commented on #99
I don't have access to the previous means of deployment - I've switched the main repo branch to the one which is deployed to https://insin.github.io/react-hn

[2020-03-14 15:07] #99 closed

[2020-03-14 15:08] insin commented on #103
Added in v1.7.0:

https://insin.github.io/react-hn/#/read

[2020-03-14 15:08] #103 closed, assigned to nobody

[2020-05-16 06:10] #62 closed

[2020-05-16 06:10] insin commented on #62
![ADHXs0C9lt](https://user-images.githubusercontent.com/226692/82112392-cb96da00-978f-11ea-8000-df05bce6105c.gif)